.text {
    display: flex;
    font-size: 3rem;
    justify-content: space-evenly;

}

.image {
    display: flex;
    justify-content: space-evenly;

}

h1 {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 6rem;
    
}

img {
    width: 15%;
}